snippet start "Default start for document"
	\documentclass[12pt]{article}
	\usepackage[margin=1in]{geometry}
	\usepackage{setspace}
	\doublespacing

	\begin{document}
	${0}
	\end{document}
snippet header "Header for class"
	\noindent Shakil Rafi\\\\
	Professor ${1:name}\\\\
	${2:course code}\\\\
	`trim(system("date '+%B %d, %Y'"))`
